<div class="form-group">
<h3>Назва</h3>
<%= f.text_field :name ,  class: "form-control", placeholder:"Введіть питання"%>
</div>
<div class="form-group">
<h3>Текст</h3>
<%= f.text_area :text, size: "60x12", placeholder:"Введіть текст питання", class:"tinymce form-control", rows:8, cols:100 %>
<%= tinymce %>
</div>
<div class="form-group">
<h3>Теги</h3>
<%= f.text_field :all_tags, class: "form-control", placeholder:"Введіть теги через кому" %>
</div>
