<div class="row">
  <div class="col">
    <%=render "questions/index" %>
    <div class="row">
      <nav aria-label="Page navigation">
          <%= will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
      </nav>
    </div>
  </div>
</div>
