<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <ul class="nav">
          <span class="navbar-text font-weight-bold">
            Питання:
          </span>
        </ul>
      </div>
    </div>
    <hr>
    <% if @questions == [] %>
      <p>Не знайдено жодних питань</p>
    <% else %>
      <%=render @questions%>
      <div class="digg_pagination">
        <%= will_paginate @questions%>
      </div>
    <% end %>
  </div>
</div>
