<div class="user">
  <%= link_to userparam_path(object.user.userparam) do %>

    <%=image_tag object.user.userparam.avatar.url, height:24%>
  <%end%>
  <div class="info">
    Какой-то текст который должен быть в блоке<br>
  </div>
</div>
