<h3>Профіль користувача
  <b><%=@userparam.user.email.split('@').first%></b>
</h3>
<%=form_for @userparam, url:userparam_path(current_user.id) do |f|%>
<%=render 'userparams/form', f:f%>
<%=f.submit "Update"%>
<%end%>
