<div class="col-md-6 col-md-offset-3 login-box">
  <%= form_for @userparam, url: userparams_path , html:{name: "form"} do |f| %>
  <%=render 'userparams/form', f:f%>
  <%= f.submit "Створити" %>
<% end %>
</div>
