<li class="notification" <% if !notification.read_at %> style="background-color: #d9edf7;border-color: #bce8f1;color: #31708f;" <%end%>>
  <div class="media">
        <div class="media-left">
          <div class="media-object">
            <%if notification.action = "create" %>
            <i class="fa fa-3x fa-plus"></i>
            <%else%>
            <%end%>
          </div>
        </div>
        <div class="media-body">
          <strong class="notification-title"><%=title(notification)%></strong>

          <div class="notification-meta">
            <small class="timestamp"><%=notification.created_at%> <%=watch_read_stat(notification)%></small>
          </div>
        </div>
      </div>

 </li>
