<strong><h3>Вас вітає сайт УжНУ</h3></strong> 
<hr>
<% if user_signed_in?%>
	<% if @posts == [] %>
		<p>No posts</p>
	<% else %>	
		<%=render @posts%>
	<% end %>
	<%= link_to  "Create new post", new_post_path %>
		<% if @questions == [] %>
		<p>No questions</p>
	<% else %>	
		<%=render @questions%>
	<% end %>
	<%= link_to  "Create new question", new_question_path %>
<% end %>


