<h2>Обране</h2>
<hr>
<%=render "posts/index"%>

<%=render "questions/index" %>
<div class="row">
  <nav aria-label="Page navigation">
    <% if @posts.count> @questions.count %>
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
    <%else%>
      <%= will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
    <%end%>
  </nav>
</div>
