<% if posts == [] %>
  <p>НЕ знайдено жодної публікації</p>
<% else %>
  <div class="row">
    <div class="col">
      <ul class="nav">
        <span class="navbar-text font-weight-bold">
          Публікації:
        </span>
      </ul>
    </div>
  </div>
  <%=render "pages/order"%>
  <%=render posts%>
<% end %>
