<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <ul class="nav">
          <span class="navbar-text font-weight-bold">
            Записи:
          </span>
        </ul>
      </div>
    </div>

    <% if @posts == [] %>
      <p>НЕ знайдено жодного запису</p>
    <% else %>
    <%=render "pages/order"%>
      <%=render @posts%>
      <div class="digg_pagination">
        <%= will_paginate @posts%>
      </div>
    <% end %>
  </div>
</div>
