 <%= render  "layouts/navbar" %>
<% if user_signed_in?%>
	<% if @posts == [] %>
		<p>No posts</p>
	<% else %>	
		<%=render @posts%>
	<% end %>
	<%= link_to  "Create new post", new_post_path %>
<% end %>