body {
  height: 100%;
}

a:hover {
  color: #6f42c1;
}

.navbar {
  background: #474747;
  color: #FFF;
  height: 50px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
  .dropdown-item{
    padding: 0;
    padding-left: 10px;
  }
  .navbar-brand {
    text-align: center;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    vertical-align: text-top;
        width: 15%;
  }

  li {
    padding: 4px;
    margin-left: 5px;
  }
}

.dropdown-menu {
  .dropdown-item:hover {
    background: #666FB0;
    color: #FFFFFF;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
  background: #474747;
  color: #FFF;

  a {
    color: #FFF;
    font-size: 18px;
  }

  li {
    height: 40px;
    text-align: left;

    a {
      padding: 8px 0;
      width: 100%;
      display: table;
    }

    i {
      width: 30px;
      text-align: center;
    }

    img {
      padding-right: 5px;
      border-radius: 360px;
    }

    span {
      vertical-align: middle;
      display: inline-block;
    }
  }

  li:hover {
    a {
      text-decoration: none;
    }
    background: #666FB0;
    color: #FFF;
  }

  .active {
    background: #666FB0;
    color: #FFF;
  }

  .active:hover {
    background: #FFF;
    .fa{
      color: #212529;
    }
    a {
      color: #212529;
    }
  }

  .dropdown-menu {
    width: calc(100% + 15px);
    margin-left: -15px;

    .dropdown-item {
      color: #212529;
    }

    .dropdown-item:hover {
      background: #666FB0;
      color: #FFFFFF;
    }
  }
}

.content {
  padding: 10px 50px;
}

.question {
  background: rgba(71, 71, 71, 0.02);
  border: 0.25px solid #474747;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 15px;
  height: auto;
  box-shadow: 1px 0 1rem 2px rgba(0, 0, 0, 0.15);

  .tags{
    padding-top: 10px;
  }

  .question-count {
    height: 100%;
    border-radius: 10px 60px 60px 10px;
  }

  .question-content {
    padding-top: 15px;
    font-size: 12px;
  }

  .question-title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #474747;
  }

  .question-title:hover {
    color: grey;
  }

  a:hover {
    text-decoration: none;
  }
}

.view {
  text-align: center;
  display: -webkit-inline-box;
}

.tag {
  font-weight: bold;
  line-height: normal;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  background: #666FB0;
  border-radius: 30px;
  color: #ffffff;
}

.tag:hover {
  color: #666FB0;
  background: #ffffff;
  text-decoration: none;
}

.page-item.active {
  .page-link {
    z-index: 1;
    color: #fff;
    background-color: #666FB0;
    border-color: #666FB0;
  }
}

.page-item {
  .page-link {
    color: #666FB0;
    background-color: #fff;
  }
}

li {
  list-style-type: none;
}

.title {
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: justify;
  color: #474747;
  margin-bottom: 10px;
}

.answer {
  margin-top: 10px;
}
@media(max-width: 768px) {
  .btn {
    border: none;
  }
  .card {
    margin: 20px;
  }
  .col{
    flex-basis: auto;
  }
  .list-group{
    padding : 40px;
  }

  .fixed-top {
    .row {
      margin: 0;
    }
  }

  .question {
    border-radius: 1px;
  }
}
@media(min-width: 768px) and (max-width: 1920px) {
  .humburger {
    display: none;
    width: 0;
  }

  .question {
    height: 80px;
  }

  .question-count {
    background: rgba(195, 194, 194, 0.1);
    border-radius: 5px 65px 65px 5px;
    font-size: 36px;
    text-align: center;
    text-indent: 10px;
    color: #474747;
    padding: 0;
    cursor: pointer;
  }

  .view {
    display: flow-root;
  }

  .post {
    height: 80px;
    box-shadow: 1px 0 1rem 2px rgba(0, 0, 0, 0.15);
  }

  .post-count {
    background: rgba(195, 194, 194, 0.1);
    border-radius: 5px 0 40px 5px;
    height: 80px;
  }

  .fixed-bottom {
    display: none;
  }
}

.fixed-bottom {
  a {
    color: #FFF;
    text-decoration: none;
  }

  .active {
    background: #666FB0;
    color: #FFF;
  }

  .row {
    margin: 0;
  }

  .col-3 {
    padding: 0;
  }
}

.post {
  margin-bottom: 15px;
  background: rgba(71, 71, 71, 0.02);
  border: 0.25px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
}

.post-count {}

.post-title {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #474747;
  margin-left: 10px;
}

.post-title:hover {
  color: grey;
  text-decoration: none;
}
/* Chat containers */
.loler {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}
/* Clear floats */
.loler::after {
  content: "";
  clear: both;
  display: table;
}
/* Style images */
.loler img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
/* Style the right image */
.loler img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}
/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.profile{
  margin: -10px -35px;
}

.cover {
  width: 100%;
  text-align: center;
  height: 230px;
  background: #123123;
  color: #ffffff;

  .crop{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 360px;
    display: inline-block;
    margin-top: 10px;
  }

  .crop img{
      margin-left: -15px;
  }

  .nick {
    padding: 3px;
    width: 100%;
    height: 35px;
    background: rgba(94, 94, 94, 0.4);
    a{
      text-decoration: none;
    }
  }
}

.wrapper {
  display: flex;
  width: 100%;
}

.profil-sidebar {
  border: 1px solid #474747;
  height: 100%;
  z-index: 999;

  li {
    margin: 0 -15px;
    text-align: center;
  }

  li:hover {
    a {
      text-decoration: none;
      color: #FFF;
    }
    background: #666FB0;
    color: #FFF;
  }

  a {
    color: #595959;
    font-size: 18px;
    padding: 8px 0;
    width: 100%;
    display: table;
  }
}

.user {
  display: inline-block;
}

.info {
  display: none;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  z-index: 9999;
}

.user:hover .info {
  display: block;
  position: absolute;
  z-index: 9999;
}

.times {
  display: inherit;
  font-size: 11px;
}

.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #595959;
  border-radius: 10px;
  outline: none;
}

.input-sign {
  width: 300px;
  padding: 10px;
  background: transparent;
  border: 1px solid #595959;
  border-radius: 30px;
  outline: none;
}

.order {
  .nav-link{
    padding: 0.5rem 0.5rem;
  }
  font-size: 12px;
  a{
    color: #666FB0;
  }
  a:hover{
    color: #FFF;
    background: #666FB0;
    border-color: #666FB0;
  }
  .active{
    background: #666FB0;
    border-color: #666FB0;
    a{
      color: #FFF;
    }
    a:hover{
      color: #212529;
      background: #FFF;
      border-color: #666FB0;
    }

  }
  .active:hover {
    background: #FFF;
    border-color: #212529;

  }
}



.panel {
 box-shadow: 0 2px 0 rgba(0,0,0,0.075);
 border-radius: 0;
 border: 0;
 margin-bottom: 15px;
}

.panel-body {
 padding: 25px 20px;
}
.card{
  border: none;
}
.list-group{
  padding-top : 40px;
}
.dropdown-menu{
  font-size: 18px;
  .fa{
    color:#474747;
  }
  li:hover .fa{
    color: #fff
  }
}
nav .fa{
  color: #FFF;
}
.fa{
  text-decoration: none;
  color:#474747;
}
.fa-trash:hover{
    color: #ff0000
}
.fa-question:hover{
  color:  #28a745
}
.fa-comment{
  color: #666FB0;

}
.fa-comment:hover{
  color:#474747;
}
.fa-plus:hover{
  color:  #28a745;
}
.category{
  padding-bottom:30px;
  box-shadow: 1px 0 1rem 2px rgba(0, 0, 0, 0.15);
}

.text-second{
  font-size: 12px;
}
