body{
  height: 100%;
}
.navbar{
  background: #474747;
  color: #FFF;
  padding: 0px;
  height: 50px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  .navbar-brand{
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    margin: 0px;
    max-height: 150px;
  }
  .btn{
    height: 48px;
    width: 48px;
    margin-right: 5px;
    background: #474747;
    color: #FFF;
    font-size: 18px;
    border: 0.5px solid #C0C0C0;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  }
}
.dropdown-menu{

  .dropdown-item:hover{
    background: #666FB0;
    color: #FFFFFF;
  }
}
.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0px 0px;
  background: #474747;
  color: #FFF;
  a{
    color: #FFF;
    font-size: 18px;
  }
  li{
    height: 40px;
    text-align: left;

    a{
      padding: 8px 0px;
      width: 100%;
      display: table;
    }
    i{
      width: 30px;
      text-align: center;
    }
    img{
      padding-left: 10px;
      padding-right: 5px;
    }
    span{
      vertical-align:middle;
      display: inline-block;
    }
  }
  li:hover{
    a{
      text-decoration: none;
    }
    background: #666FB0;
    color: #FFF;
  }
  .active{
    background: #666FB0;
    color: #FFF;
  }
  .dropdown-menu{
    width:calc(100% + 15px);
    margin-left:-15px;
    .dropdown-item{
        color: #212529;
    }
    .dropdown-item:hover{
      background: #666FB0;
      color: #FFFFFF;
    }
  }
}
.content{
  padding: 10px 50px;
}

.question{
  background: rgba(71, 71, 71, 0.02);
  border: 0.25px solid #474747;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 80px;
  .question-count{
    background: rgba(195, 194, 194, 0.1);
    border-radius: 5px 65px 65px 5px;
    font-size: 36px;
    text-align: center;
    text-indent: 10px;
    color: #474747;
    padding: 0px;
    height: 80px;
    cursor: pointer;
  }
  .question-content{
    padding-top: 15px;
    font-size: 12px;
  }
  .question-title{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #474747;
    margin-left: 10px;
  }
  a:hover{
    text-decoration: none;
  }
}
.humburger{
}
@media(min-width: 768px) and (max-width: 1920px){
  .humburger{
    display: none;
    width: 0px;
  }
}

.text {
  text-align:center;
}

.view {
  text-align:center;
}

.creat {
  margin-top: 20px;
}