 body {
  height: 100%;
}
a{
  color: #666FB0;
}
a:hover{
  color: #6f42c1;
}
.navbar {
  background: #474747;
  color: #FFF;
  height: 50px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
  a{
    color: #666FB0;
  }
  a:hover{
    color: #6f42c1;
  }
  .navbar-brand {
    text-align: center;
    color: #FFF;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    vertical-align: text-top;
  }

  li{
    padding: 4px;
    margin-left: 5px;
  }
}

.dropdown-menu {
  .dropdown-item:hover {
    background: #666FB0;
    color: #FFFFFF;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
  background: #474747;
  color: #FFF;

  a {
    color: #FFF;
    font-size: 18px;
  }

  li {
    height: 40px;
    text-align: left;

    a {
      padding: 8px 0;
      width: 100%;
      display: table;
    }

    i {
      width: 30px;
      text-align: center;
    }

    img {
      padding-left: 10px;
      padding-right: 5px;
    }

    span {
      vertical-align: middle;
      display: inline-block;
    }
  }

  li:hover {
    a {
      text-decoration: none;
    }
    background: #666FB0;
    color: #FFF;
  }

  .active {
    background: #666FB0;
    color: #FFF;
  }
  .active:hover{
    background: #ffffff;
    a{
    color: #212529;
  }
  }

  .dropdown-menu {
    width: calc(100% + 15px);
    margin-left: -15px;

    .dropdown-item {
      color: #212529;
    }

    .dropdown-item:hover {
      background: #666FB0;
      color: #FFFFFF;
    }
  }
}

.content {
  padding: 10px 50px;
}

.question {
  background: rgba(71, 71, 71, 0.02);
  border: 0.25px solid #474747;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 15px;
  height: auto;

  .question-count {
    height: 100%;
    border-radius: 10px 60px 60px 10px;
  }

  .question-content {
    padding-top: 15px;
    font-size: 12px;
  }

  .question-title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #474747;
    margin-left: 10px;
  }
  .question-title:hover{
    color: grey;
  }

  a:hover {
    text-decoration: none;
  }
}

.text {
  text-align: center;
  vertical-align: middle;
display: -webkit-inline-box;
}

.view {
  text-align: center;
  display: -webkit-inline-box;
}

.creat {
  margin-top: 20px;
}

.tag {
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  background: #666FB0;
  border-radius: 45px;
  color: #ffffff;
}

.tag:hover {
  color: #666FB0;
  background: #ffffff;
  text-decoration: none;
}

.page-item.active {
  .page-link {
    z-index: 1;
    color: #fff;
    background-color: #666FB0;
    border-color: #666FB0;
  }
}
.page-item{
  .page-link{
    color: #666FB0;
    background-color: #fff;
  }
}

li{
      list-style-type: none;
}

.title{
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  text-align: justify;
  color: #474747;
  margin-bottom: 10px
}

.answer{
  margin-top: 10px;
}
@media(max-width: 768px){
  .btn{
    border: none;
  }
  .fixed-top{
    .row{
      margin: 0px;
    }
  }
  .question{
    border-radius: 1px;
  }
  .content{
    padding: 5px;
    padding-top: 20px;
  }
}
@media(min-width: 768px) and (max-width: 1920px) {
  .humburger {
    display: none;
    width: 0;
  }
  .question{
    height: 80px;
  }
  .question-count{
    background: rgba(195, 194, 194, 0.1);
    border-radius: 5px 65px 65px 5px;
    font-size: 36px;
    text-align: center;
    text-indent: 10px;
    color: #474747;
    padding: 0;
    cursor: pointer;
  }
  .view{
    display: grid;
  }
  .post{
    height: 80px;
  }
  .post-count{
    background: rgba(195, 194, 194, 0.1);
    border-radius: 5px 0px 40px 5px;
    height: 80px;
  }
  .fixed-bottom{
    display: none;
  }
}
.fixed-bottom{
  a{
    color: #FFF;
    text-decoration: none;
  }
  .active {
    background: #666FB0;
    color: #FFF;
  }
  .row{
    margin: 0px;
  }
  .col-3{
    padding: 0px;
  }
}

.post{
  margin-bottom: 15px;
  background: rgba(71, 71, 71, 0.02);
  border: 0.25px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
}
.post-count{
}
.post-title {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #474747;
  margin-left: 10px;
}
.post-title:hover{
  color: grey;
  text-decoration: none;
}
 /* Chat containers */
 .loler {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.loler::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.loler img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.loler img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.profile{
  width: 100%;
  height: 210px;
  background: #123123;
  color: #ffffff;
  img{
    margin: 15px;
    border-radius: 360px;
    width: 120px;
  }
  .nick{
    padding: 3px;
    width: 100%;
    height: 35px;
    background: rgba(94, 94, 94, 0.4);
  }
}
