<div class="col-sm-3">
  <div class="category card">
      <div class="card-body">
        <%=link_to category.name, category_path(category.name), class:"btn btn-light card-title", style:"width:100%; color:#666FB0,overflow:auto"%></p>
        <p class="card-text"><%=category.desc%></p>
        <p class="card-text">Публікацій: <%=Post.where(@category).count%></p>
        <p class="card-text">Запитання: <%=Question.where(@category).count%></p>
      </div>
    </div>

</div>
