<div class="row">
  <div class="col">
    <ul class="nav">
      <span class="navbar-text font-weight-bold">
        Теги:
      </span>
    </ul>
  </div>
</div>
<div class="row">
  <%= render @categories %>
</div>
