<div class="row">
  <div class="col">
    <ul class="nav">
      <span class="navbar-text font-weight-bold">
        Записи:
      </span>
    </ul>
  </div>
</div>
<hr style="margin-top:0px;">
<div class="row">
  <%= render @categories %>
</div>
