<p>
<%= fields_for :education do |e|%>
<%= e.label "Університет" %>
<%= e.select :university  , University.all.collect {|p| [ p.name, p.id ] },{include_blank: false},{onchange: "selUn();" } %>
    <%= e.select :specialty,  "", prompt:"Спочатку Оберіть заклад" %>
<%end%>
<script type="text/javascript">

</script>
</p>
