<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">Відгук</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :report, url:reports_path do |f| %>
      <div class="modal-body">

        <%= render 'reports/form', f:f%>


      </div>
      <div class="modal-footer">
        <%= f.submit "Створити" , class:"btn btn-dark" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
