<nav class="navbar fixed-top navbar-expand-lg">

  <%= link_to "DoIT", root_path, class:"navbar-brand"%>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="dropdown">
          <a name="add-button" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-2x fa-plus"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%=link_to "Питання", new_question_path, class:"dropdown-item" %>
            <%=link_to "Запис", new_post_path, class:"dropdown-item" %>
          </div>
        </div>
      </li>

      <li class="nav-item">
            <a role="button" href="#reportModal" data-toggle="modal" data-target="#reportModal" style="color:#FFF">
              <i class="fa fa-2x fa-file"></i>
            </a>

      </li>
      <li class="nav-item">
        <div class="search">
          <a id="collapsebtn-search" role="button" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
            <i class="fa fa-2x fa-search"></i>
          </a>
          <div style=" display: -webkit-inline-box;">
            <span id="collapse-search" class="collapse">
              <input class="form-control" type="text" id="search" placeholder="Enter your query...">
            </span>
          </div>
        </div>
      </li>
    </ul>
</nav>
<%= render 'reports/new'%>
