<div class="navbar">
  <div class="logo">
  <%= link_to "DoIT", root_path%>
  </div>
  <div class="dropdown">
    <button name="add-button" class="dropbtn"><i class="fa fa-plus"></i></button>
    <div class="dropdown-content">
      <%=link_to "Питання", new_question_path %>
      <%=link_to "Запис", new_post_path %>
    </div>
  </div>
  <div class="collapse">
    <button id="collapsebtn-search" class="collapsebtn" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
      <i class="fa fa-search"></i>
    </button>
    <span id="collapse-search" class="collapse-content">
      <input class="form-control" type="text" id="search" placeholder="Enter your query...">
    </span>
  </div>
</div>
