<div class="col col-md-3 ">
  <div class="list-group">
    <div class="card-header">
      <%=link_to "Profile", userparam_path(current_user.id),class:"list-group-item-action"%>
    </div>
    <a href="#" class="list-group-item list-group-item-action">Опис</a>
    <a href="#" class="list-group-item list-group-item-action">Статистика</a>
    <a href="#" class="list-group-item list-group-item-action">Інше</a>

    <%if user_signed_in? && current_user.id == @user.id%>
      <%=link_to "Редагувати профіль", edit_userparam_path(current_user.id),class:"list-group-item list-group-item-action"%>
      <%=link_to "Змінити дані для входу", edit_user_registration_path,class:"list-group-item list-group-item-action"%>
    <%end%>

  </div>
</div>
